@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid', cursive;
  user-select: none;
  transition: all 0.5s ease;
}

body {
  position: relative;
}

h3 {
  font-weight: 300;
  letter-spacing: 3px;
  color: #eee;
  text-shadow: 1px 1px 2px #1119;
  font-size: 1.8em;
}

.bg-img {
  background: url('assets/nightsky.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 200%;
  min-width: 200%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.score {
  float: right;
  margin: 30px;
}
.score > * {
  padding: 2px 0;
}

.cards {
  height: 70%;
  width: 65%; 
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 50px;
  justify-items: center;
  clear: both;
}
.card {
  max-height: 230px;
  padding: 24px;
  border-radius: 5px;
  background-color: #ffd3;
  display: grid;
  align-content: space-between;
  text-align: center;
  transition: box-shadow 0.03s ease-out;
}
.card:hover,
.card:focus {
  box-shadow: 0 0 3px #fff;
}
.card:active {
  box-shadow: none;
}

.card-img img {
  border-radius: 5px;
  max-height: 180px;
  max-width: 180px;
}

@media (max-width: 1080px) {
  .cards {
    width: 75%;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20;
  }
  .card {
    max-height: 190px;
    padding: 20px;
  }
  .card-img img {
    max-width: 142.5px;
  }
  h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 620px) {
  .cards {
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    gap: 15px;
  }
  .card {
    max-height: 150px;
    max-width: 200px;
    padding: 15px;
  }
  .card-img img {
    max-width: 112.5px;
  }
  h3 {
    font-size: 1.2em;
  }
}

@media (min-width: 1400px) {
  .cards {
    width: 80%;
    padding: 100px 0;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
  }
}

@media (max-width: 440px) {
  .card:hover {
    box-shadow: none;
  }
  .card:active {
    transition: transform 0.005s ease-out;
    transform: scale(0.97);
  }
}